{% extends "test_index.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
   integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
   crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
   integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
   crossorigin="anonymous"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<ol class="breadcrumb">
   <li><a href="{{ url_for('api.admin_home') }}">Home</a></li>
   <li class="active">Hotel Update</li>
</ol>
<div class="container" style="margin:20px;">
   <span>
      <h2 class="text-center">Hotel Update</h2>
   </span>
   <br>
</div>
<div class="tab-content">
   <div id="active_div" class="tab-pane fade in active">
      <div id="dvData" class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">City Name</th>
                  <th scope="col">Hotel Name</th>
                  <th scope="col">Action</th>
               </tr>
            </thead>
            {% for item in res %}
            <div>
                <tbody class="section{{item.id}}">
                       <tr>
                          <td class="col-md-2"><input type="text" name="trip_type"
                             value="{{ item.type }}" class="form-control" id="trip{{item.id}}">
                          </td>
                          <td class="col-md-2"><input type="text" name="advance_type"
                             value="{{ item.billing_type }}" class="form-control" id="type{{item.id}}"></td>
                          <td>
                             <button type="submit" member_id="{{item.id}}" class="btn btn-primary updateButton">Update Hotel</button>
                          </td>
                           <td><span id="error_msg" class="text-danger"></span></td>
                           <td><span id="success_msg" class="text-success"></span></td>
                       </tr>
                 </tbody>
            </div>
            {% endfor %}
         </table>
      </div>
   </div>
</div>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('.updateButton').on('click',function(){
            var member_id = $(this).attr('member_id');
            var name = $('#trip'+member_id).val();
            var advance_type = $('#type' + member_id).val();
            // alert(name+advance_type);
            req = $.ajax({
                url:'/test_js',
                type:'POST',
                data:{
                    trip_type:name,advance_type:advance_type,aid:member_id
                }
            });
            req.done(function (data) {
                $('.section' + member_id).fadeOut(300).fadeIn(500);

                $('#trip' + member_id).text(data.type);

            });
        });
    });

</script>
{% endblock %}
